{
  "swagger": "2.0",
  "info": {
    "title": "Rebrickable",
    "description": "Rebrickable API v3 for Microsoft Power Platform. LEGO catalog and user collections. When connecting, enter: key followed by a space and your API key.",
    "version": "1.0.0"
  },
  "host": "rebrickable.com",
  "basePath": "/api/v3",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "Enter: key YOUR_API_KEY (including the prefix key and a space)."
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/lego/colors/": {
      "get": {
        "operationId": "lego_colors_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_colors_listResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get a list of all Colors.",
        "summary": "Get a list of all Colors.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get a list of all Colors."
      }
    },
    "/lego/colors/{id}/": {
      "get": {
        "operationId": "lego_colors_read",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_colors_readResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "A unique value identifying this color.",
            "type": "string"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get details about a specific Color.",
        "summary": "Get details about a specific Color.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get details about a specific Color."
      }
    },
    "/lego/elements/{element_id}/": {
      "get": {
        "operationId": "lego_elements_read",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_elements_readResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "element_id",
            "required": true,
            "in": "path",
            "description": "element id",
            "type": "string"
          }
        ],
        "description": "Get details about a specific Element ID.",
        "summary": "Get details about a specific Element ID.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get details about a specific Element ID."
      }
    },
    "/lego/minifigs/": {
      "get": {
        "operationId": "lego_minifigs_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_minifigs_listResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          },
          {
            "name": "min_parts",
            "required": false,
            "in": "query",
            "description": "min parts",
            "type": "number"
          },
          {
            "name": "max_parts",
            "required": false,
            "in": "query",
            "description": "max parts",
            "type": "number"
          },
          {
            "name": "in_set_num",
            "required": false,
            "in": "query",
            "description": "in set num",
            "type": "string"
          },
          {
            "name": "in_theme_id",
            "required": false,
            "in": "query",
            "description": "in theme id",
            "type": "string"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "A search term.",
            "type": "string"
          }
        ],
        "description": "Get a list of Minifigs.",
        "summary": "Get a list of Minifigs.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get a list of Minifigs."
      }
    },
    "/lego/minifigs/{set_num}/": {
      "get": {
        "operationId": "lego_minifigs_read",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_minifigs_readResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "set_num",
            "required": true,
            "in": "path",
            "description": "set num",
            "type": "string"
          }
        ],
        "description": "Get details for a specific Minifig.",
        "summary": "Get details for a specific Minifig.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get details for a specific Minifig."
      }
    },
    "/lego/minifigs/{set_num}/parts/": {
      "get": {
        "operationId": "lego_minifigs_parts_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_minifigs_parts_listResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "set_num",
            "required": true,
            "in": "path",
            "description": "set num",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          }
        ],
        "description": "Get a list of all Inventory Parts in this Minifig.\n\nOptional parameter inc_part_details=1 can be used to return additional part fields, the same as for a single part lookup.",
        "summary": "Get a list of all Inventory Parts in this Minifig.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get a list of all Inventory Parts in this Minifig."
      }
    },
    "/lego/minifigs/{set_num}/sets/": {
      "get": {
        "operationId": "lego_minifigs_sets_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_minifigs_sets_listResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "set_num",
            "required": true,
            "in": "path",
            "description": "set num",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get a list of Sets a Minifig has appeared in.",
        "summary": "Get a list of Sets a Minifig has appeared in.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get a list of Sets a Minifig has appeared in."
      }
    },
    "/lego/part_categories/": {
      "get": {
        "operationId": "lego_part_categories_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_part_categories_listResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get a list of all Part Categories.",
        "summary": "Get a list of all Part Categories.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get a list of all Part Categories."
      }
    },
    "/lego/part_categories/{id}/": {
      "get": {
        "operationId": "lego_part_categories_read",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_part_categories_readResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "A unique integer value identifying this part category.",
            "type": "integer"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get details about a specific Part Category.",
        "summary": "Get details about a specific Part Category.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get details about a specific Part Category."
      }
    },
    "/lego/parts/": {
      "get": {
        "operationId": "lego_parts_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_parts_listResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          },
          {
            "name": "part_num",
            "required": false,
            "in": "query",
            "description": "part num",
            "type": "string"
          },
          {
            "name": "part_nums",
            "required": false,
            "in": "query",
            "description": "part nums",
            "type": "string"
          },
          {
            "name": "part_cat_id",
            "required": false,
            "in": "query",
            "description": "part cat id",
            "type": "string"
          },
          {
            "name": "color_id",
            "required": false,
            "in": "query",
            "description": "color id",
            "type": "string"
          },
          {
            "name": "bricklink_id",
            "required": false,
            "in": "query",
            "description": "bricklink id",
            "type": "string"
          },
          {
            "name": "brickowl_id",
            "required": false,
            "in": "query",
            "description": "brickowl id",
            "type": "string"
          },
          {
            "name": "lego_id",
            "required": false,
            "in": "query",
            "description": "lego id",
            "type": "string"
          },
          {
            "name": "ldraw_id",
            "required": false,
            "in": "query",
            "description": "ldraw id",
            "type": "string"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "A search term.",
            "type": "string"
          },
          {
            "name": "inc_part_details",
            "in": "query",
            "required": false,
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Set to 1 to include extended part details."
          }
        ],
        "description": "Get a list of Parts.\n\nOptional parameter inc_part_details=1 can be used to return additional fields, the same as for a single part lookup.\n\nThe optional part_nums filter parameter should be a comma separated list of part_num without spaces.\n\nOptionally filter by one or more of the below query parameters.",
        "summary": "Get a list of Parts.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get a list of Parts."
      }
    },
    "/lego/parts/{part_num}/": {
      "get": {
        "operationId": "lego_parts_read",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_parts_readResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "part_num",
            "required": true,
            "in": "path",
            "description": "part num",
            "type": "string"
          },
          {
            "name": "inc_part_details",
            "in": "query",
            "required": false,
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Set to 1 to include extended part details."
          }
        ],
        "description": "Get details about a specific Part.",
        "summary": "Get details about a specific Part.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get details about a specific Part."
      }
    },
    "/lego/parts/{part_num}/colors/": {
      "get": {
        "operationId": "lego_parts_colors_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_parts_colors_listResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "part_num",
            "required": true,
            "in": "path",
            "description": "part num",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get a list of all Colors a Part has appeared in.",
        "summary": "Get a list of all Colors a Part has appeared in.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get a list of all Colors a Part has appeared in."
      }
    },
    "/lego/parts/{part_num}/colors/{color_id}/": {
      "get": {
        "operationId": "lego_parts_colors_read",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_parts_colors_readResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "part_num",
            "required": true,
            "in": "path",
            "description": "part num",
            "type": "string"
          },
          {
            "name": "color_id",
            "required": true,
            "in": "path",
            "description": "color id",
            "type": "string"
          }
        ],
        "description": "Get details about a specific Part/Color combination.",
        "summary": "Get details about a specific Part/Color combination.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get details about a specific Part/Color combination."
      }
    },
    "/lego/parts/{part_num}/colors/{color_id}/sets/": {
      "get": {
        "operationId": "lego_parts_colors_sets_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_parts_colors_sets_listResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "part_num",
            "required": true,
            "in": "path",
            "description": "part num",
            "type": "string"
          },
          {
            "name": "color_id",
            "required": true,
            "in": "path",
            "description": "color id",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get a list of all Sets the Part/Color combination has appeard in.",
        "summary": "Get a list of all Sets the Part/Color combination has appeard in.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get a list of all Sets the Part/Color combination has appeard in."
      }
    },
    "/lego/sets/": {
      "get": {
        "operationId": "lego_sets_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_sets_listResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          },
          {
            "name": "theme_id",
            "required": false,
            "in": "query",
            "description": "theme id",
            "type": "string"
          },
          {
            "name": "min_year",
            "required": false,
            "in": "query",
            "description": "min year",
            "type": "number"
          },
          {
            "name": "max_year",
            "required": false,
            "in": "query",
            "description": "max year",
            "type": "number"
          },
          {
            "name": "min_parts",
            "required": false,
            "in": "query",
            "description": "min parts",
            "type": "number"
          },
          {
            "name": "max_parts",
            "required": false,
            "in": "query",
            "description": "max parts",
            "type": "number"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "A search term.",
            "type": "string"
          }
        ],
        "description": "Get a list of Sets, optionally filtered by any of the below parameters.",
        "summary": "Get a list of Sets, optionally filtered by any of the below parameters.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get a list of Sets, optionally filtered by any of the below parameters."
      }
    },
    "/lego/sets/{set_num}/": {
      "get": {
        "operationId": "lego_sets_read",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_sets_readResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "set_num",
            "required": true,
            "in": "path",
            "description": "set num",
            "type": "string"
          }
        ],
        "description": "Get details for a specific Set.",
        "summary": "Get details for a specific Set.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get details for a specific Set."
      }
    },
    "/lego/sets/{set_num}/alternates/": {
      "get": {
        "operationId": "lego_sets_alternates_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_sets_alternates_listResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "set_num",
            "required": true,
            "in": "path",
            "description": "set num",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get a list of MOCs which are Alternate Builds of a specific Set - i.e. all parts in the MOC can\nbe found in the Set.",
        "summary": "Get a list of MOCs which are Alternate Builds of a specific Set - i.e. all parts in the MOC can",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get a list of MOCs which are Alternate Builds of a specific Set - i.e. all parts in the MOC can"
      }
    },
    "/lego/sets/{set_num}/minifigs/": {
      "get": {
        "operationId": "lego_sets_minifigs_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_sets_minifigs_listResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "set_num",
            "required": true,
            "in": "path",
            "description": "set num",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          }
        ],
        "description": "Get a list of all Inventory Minifigs in this Set.",
        "summary": "Get a list of all Inventory Minifigs in this Set.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get a list of all Inventory Minifigs in this Set."
      }
    },
    "/lego/sets/{set_num}/parts/": {
      "get": {
        "operationId": "lego_sets_parts_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_sets_parts_listResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "set_num",
            "required": true,
            "in": "path",
            "description": "set num",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          },
          {
            "name": "inc_part_details",
            "in": "query",
            "required": false,
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Set to 1 to include extended part details."
          },
          {
            "name": "inc_minifig_parts",
            "in": "query",
            "required": false,
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Set to 1 to include minifigure parts."
          }
        ],
        "description": "Get a list of all Inventory Parts in this Set.\n\nOptional parameter inc_part_details=1 can be used to return additional part fields, the same as for a single part lookup.\nOptional parameter inc_minifig_parts=1 can be used to include minifig parts in this call.\nOptional parameter inc_color_details=0 can be used to prevent color field expansion and reduce response sizes.",
        "summary": "Get a list of all Inventory Parts in this Set.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get a list of all Inventory Parts in this Set."
      }
    },
    "/lego/sets/{set_num}/sets/": {
      "get": {
        "operationId": "lego_sets_sets_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_sets_sets_listResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "set_num",
            "required": true,
            "in": "path",
            "description": "set num",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          }
        ],
        "description": "Get a list of all Inventory Sets in this Set.",
        "summary": "Get a list of all Inventory Sets in this Set.",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Get a list of all Inventory Sets in this Set."
      }
    },
    "/lego/themes/": {
      "get": {
        "operationId": "lego_themes_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_themes_listResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Return all Themes",
        "summary": "Return all Themes",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Return all Themes"
      }
    },
    "/lego/themes/{id}/": {
      "get": {
        "operationId": "lego_themes_read",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lego_themes_readResponse",
              "x-scope": [
                ""
              ]
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "A unique integer value identifying this theme.",
            "type": "integer"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Return details for a specific Theme",
        "summary": "Return details for a specific Theme",
        "tags": [
          "lego"
        ],
        "x-ms-summary": "Return details for a specific Theme"
      }
    },
    "/users/_token/": {
      "post": {
        "operationId": "users__token_create",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "user_token": {
                  "type": "string",
                  "description": "User Token for collection actions."
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "user_token": {
                  "type": "string",
                  "description": "User Token for collection actions."
                }
              }
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "formData",
            "description": "Username (or email) of user",
            "type": "string"
          },
          {
            "name": "password",
            "required": true,
            "in": "formData",
            "description": "Password of user",
            "type": "string",
            "format": "password"
          }
        ],
        "description": "Generate a User Token to be used for authorising user account actions in subsequent calls. Username can be either\n the actual username or the user's email address.",
        "summary": "Generate a User Token to be used for authorising user account actions in subsequent calls. Username can be either",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "users"
        ],
        "x-ms-summary": "Generate a User Token to be used for authorising user account actions in subsequent calls. Username can be either"
      }
    },
    "/users/badges/": {
      "get": {
        "operationId": "users_badges_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON.",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get a list of all the available Badges",
        "summary": "Get a list of all the available Badges",
        "tags": [
          "users"
        ],
        "x-ms-summary": "Get a list of all the available Badges"
      }
    },
    "/users/badges/{id}/": {
      "get": {
        "operationId": "users_badges_read",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON."
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "A unique integer value identifying this badge.",
            "type": "integer"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get details about a specific Badge",
        "summary": "Get details about a specific Badge",
        "tags": [
          "users"
        ],
        "x-ms-summary": "Get details about a specific Badge"
      }
    },
    "/users/{user_token}/allparts/": {
      "get": {
        "operationId": "users_allparts_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON.",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          },
          {
            "name": "part_num",
            "required": false,
            "in": "query",
            "description": "part num",
            "type": "string"
          },
          {
            "name": "part_cat_id",
            "required": false,
            "in": "query",
            "description": "part cat id",
            "type": "number"
          },
          {
            "name": "color_id",
            "required": false,
            "in": "query",
            "description": "color id",
            "type": "number"
          },
          {
            "name": "inc_part_details",
            "in": "query",
            "required": false,
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Set to 1 to include extended part details."
          }
        ],
        "description": "Get a list of all the Parts in all the user's Part Lists as well as the Parts inside Sets in the user's Set Lists.\n\n###WARNING this call is very resource intensive, do not overuse it!\n\nOptionally, filter by one or more of the below query parameters.",
        "summary": "Get a list of all the Parts in all the user's Part Lists as well as the Parts inside Sets in the user's Set Lists.",
        "tags": [
          "users"
        ],
        "x-ms-summary": "Get a list of all the Parts in all the user's Part Lists as well as the Parts inside Sets in the user's Set Lists."
      }
    },
    "/users/{user_token}/build/{set_num}/": {
      "get": {
        "operationId": "users_build_read",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON."
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "set_num",
            "required": true,
            "in": "path",
            "description": "set num",
            "type": "string"
          },
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          }
        ],
        "description": "Find out how many parts the user needs to build the specified Set.\n\nThe user's default Build Settings will be used to calculate a Build Match % using their LEGO Collection of Sets\nand Parts.",
        "summary": "Find out how many parts the user needs to build the specified Set.",
        "tags": [
          "users"
        ],
        "x-ms-summary": "Find out how many parts the user needs to build the specified Set."
      }
    },
    "/users/{user_token}/lost_parts/": {
      "get": {
        "operationId": "users_lost_parts_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON.",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get a list of all the Lost Parts from the user's LEGO collection.\n\nOptionally, filter by one or more of the below query parameters.",
        "summary": "Get a list of all the Lost Parts from the user's LEGO collection.",
        "tags": [
          "users"
        ],
        "x-ms-summary": "Get a list of all the Lost Parts from the user's LEGO collection."
      },
      "post": {
        "operationId": "users_lost_parts_create",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON."
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON."
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          },
          {
            "name": "lost_quantity",
            "required": false,
            "in": "formData",
            "description": "lost quantity",
            "type": "integer"
          },
          {
            "name": "inv_part_id",
            "required": true,
            "in": "formData",
            "description": "inv part id",
            "type": "integer"
          }
        ],
        "description": "Add one or more Lost Parts to the user.\n\n### Single Part\nWhen adding a single Part, returns the successfully created Part (status 201) or details for why the Part could not\nbe added.\n### Multiple Parts\nTo add multiple Parts, POST a JSON list of them (using a Content-Type header of 'application/json'). The inv_part_id\nfield can be retrieved from the Set's inventory.\ne.g:\n`[{\"inv_part_id\": 806698, \"lost_quantity\": 3},\n  {\"inv_part_id\": 256007, \"lost_quantity\": 2}]`\nReturns a list of successfully added Parts. If the Part already exists or is unrecognised, it will be skipped.",
        "summary": "Add one or more Lost Parts to the user.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "users"
        ],
        "x-ms-summary": "Add one or more Lost Parts to the user."
      }
    },
    "/users/{user_token}/lost_parts/{id}/": {
      "delete": {
        "operationId": "users_lost_parts_delete",
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "id",
            "type": "string"
          },
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Remove the Lost Part from the user.",
        "summary": "Remove the Lost Part from the user.",
        "tags": [
          "users"
        ],
        "x-ms-summary": "Remove the Lost Part from the user.",
        "x-ms-visibility": "advanced"
      }
    },
    "/users/{user_token}/minifigs/": {
      "get": {
        "operationId": "users_minifigs_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON.",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          },
          {
            "name": "fig_set_num",
            "required": false,
            "in": "query",
            "description": "fig set num",
            "type": "string"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "A search term.",
            "type": "string"
          }
        ],
        "description": "Get a list of all the Minifigs in all the user's Sets. Note that this is a read-only list as Minifigs are\nautomatically determined by the Sets in the user's Set Lists.\n\nMinifigs that were manually added to Set Lists can be retrieved via the\nGET /api/v3/users/{user_token}/sets/ endpoint.\n\nOptionally, filter by one or more of the below query parameters.",
        "summary": "Get a list of all the Minifigs in all the user's Sets. Note that this is a read-only list as Minifigs are",
        "tags": [
          "users"
        ],
        "x-ms-summary": "Get a list of all the Minifigs in all the user's Sets. Note that this is a read-only list as Minifigs are"
      }
    },
    "/users/{user_token}/partlists/": {
      "get": {
        "operationId": "users_partlists_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON.",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          }
        ],
        "description": "Get a list of all the user's Part Lists.",
        "summary": "Get a list of all the user's Part Lists.",
        "tags": [
          "users"
        ],
        "x-ms-summary": "Get a list of all the user's Part Lists."
      },
      "post": {
        "operationId": "users_partlists_create",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON."
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON."
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          },
          {
            "name": "is_buildable",
            "required": false,
            "in": "formData",
            "description": "is buildable",
            "type": "boolean"
          },
          {
            "name": "name",
            "required": true,
            "in": "formData",
            "description": "name",
            "type": "string"
          },
          {
            "name": "num_parts",
            "required": false,
            "in": "formData",
            "description": "num parts",
            "type": "integer"
          }
        ],
        "description": "Add a new Part List.",
        "summary": "Add a new Part List.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "users"
        ],
        "x-ms-summary": "Add a new Part List."
      }
    },
    "/users/{user_token}/partlists/{list_id}/": {
      "get": {
        "operationId": "users_partlists_read",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON."
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "list_id",
            "required": true,
            "in": "path",
            "description": "list id",
            "type": "string"
          },
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          }
        ],
        "description": "Get details about a specific Part List.",
        "summary": "Get details about a specific Part List.",
        "tags": [
          "users"
        ],
        "x-ms-summary": "Get details about a specific Part List."
      },
      "put": {
        "operationId": "users_partlists_update",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON."
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "list_id",
            "required": true,
            "in": "path",
            "description": "list id",
            "type": "string"
          },
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          },
          {
            "name": "is_buildable",
            "required": false,
            "in": "formData",
            "description": "is buildable",
            "type": "boolean"
          },
          {
            "name": "name",
            "required": true,
            "in": "formData",
            "description": "name",
            "type": "string"
          },
          {
            "name": "num_parts",
            "required": false,
            "in": "formData",
            "description": "num parts",
            "type": "integer"
          }
        ],
        "description": "Replace an existing Part List's details.",
        "summary": "Replace an existing Part List's details.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "users"
        ],
        "x-ms-summary": "Replace an existing Part List's details."
      },
      "patch": {
        "operationId": "users_partlists_partial_update",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON."
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "list_id",
            "required": true,
            "in": "path",
            "description": "list id",
            "type": "string"
          },
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          },
          {
            "name": "is_buildable",
            "required": false,
            "in": "formData",
            "description": "is buildable",
            "type": "boolean"
          },
          {
            "name": "name",
            "required": false,
            "in": "formData",
            "description": "name",
            "type": "string"
          },
          {
            "name": "num_parts",
            "required": false,
            "in": "formData",
            "description": "num parts",
            "type": "integer"
          }
        ],
        "description": "Update an existing Part List's details.",
        "summary": "Update an existing Part List's details.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "users"
        ],
        "x-ms-summary": "Update an existing Part List's details."
      },
      "delete": {
        "operationId": "users_partlists_delete",
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "list_id",
            "required": true,
            "in": "path",
            "description": "list id",
            "type": "string"
          },
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          }
        ],
        "description": "Delete a Part List and all it's Parts.",
        "summary": "Delete a Part List and all it's Parts.",
        "tags": [
          "users"
        ],
        "x-ms-summary": "Delete a Part List and all it's Parts.",
        "x-ms-visibility": "advanced"
      }
    },
    "/users/{user_token}/partlists/{list_id}/parts/": {
      "get": {
        "operationId": "users_partlists_parts_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON.",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "list_id",
            "required": true,
            "in": "path",
            "description": "list id",
            "type": "string"
          },
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          },
          {
            "name": "inc_part_details",
            "in": "query",
            "required": false,
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Set to 1 to include extended part details."
          }
        ],
        "description": "Get a list of all the Parts in a specific Part List.\n\nOptional parameter inc_part_details=1 can be used to return additional part fields, the same as for a single part lookup.\nOptional parameter inc_color_details=0 can be used to prevent color field expansion and reduce response sizes.",
        "summary": "Get a list of all the Parts in a specific Part List.",
        "tags": [
          "users"
        ],
        "x-ms-summary": "Get a list of all the Parts in a specific Part List."
      },
      "post": {
        "operationId": "users_partlists_parts_create",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON."
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON."
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "list_id",
            "required": true,
            "in": "path",
            "description": "list id",
            "type": "string"
          },
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          },
          {
            "name": "part_num",
            "required": true,
            "in": "formData",
            "description": "part num",
            "type": "string"
          },
          {
            "name": "quantity",
            "required": true,
            "in": "formData",
            "description": "quantity",
            "type": "integer"
          },
          {
            "name": "color_id",
            "required": true,
            "in": "formData",
            "description": "color id",
            "type": "integer"
          }
        ],
        "description": "Add one or more Parts to the Part List.\n\n### Single Part\nWhen adding a single Part, returns the successfully created Part (status 201) or details for why the Part could not\nbe added.\n### Multiple Parts\nTo add multiple Parts, POST a JSON list of them (using a Content-Type header of 'application/json').\ne.g:\n`[{\"part_num\":\"3001\", \"color_id\": 1, \"quantity\": 10},\n {\"part_num\":\"3001\", \"color_id\": 2, \"quantity\": 20},\n {\"part_num\":\"3002\", \"color_id\": 14, \"quantity\": 30}]`\nReturns a list of successfully added Parts. If the Part already exists or is unrecognised, it will be skipped.",
        "summary": "Add one or more Parts to the Part List.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "users"
        ],
        "x-ms-summary": "Add one or more Parts to the Part List."
      }
    },
    "/users/{user_token}/partlists/{list_id}/parts/{part_num}/{color_id}/": {
      "get": {
        "operationId": "users_partlists_parts_read",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON."
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "part_num",
            "required": true,
            "in": "path",
            "description": "part num",
            "type": "string"
          },
          {
            "name": "list_id",
            "required": true,
            "in": "path",
            "description": "list id",
            "type": "string"
          },
          {
            "name": "color_id",
            "required": true,
            "in": "path",
            "description": "color id",
            "type": "string"
          },
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get details about a specific Part in the Part List.",
        "summary": "Get details about a specific Part in the Part List.",
        "tags": [
          "users"
        ],
        "x-ms-summary": "Get details about a specific Part in the Part List."
      },
      "put": {
        "operationId": "users_partlists_parts_update",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON."
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "part_num",
            "required": true,
            "in": "path",
            "description": "part num",
            "type": "string"
          },
          {
            "name": "list_id",
            "required": true,
            "in": "path",
            "description": "list id",
            "type": "string"
          },
          {
            "name": "color_id",
            "required": true,
            "in": "path",
            "description": "color id",
            "type": "string"
          },
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          },
          {
            "name": "quantity",
            "required": true,
            "in": "formData",
            "description": "quantity",
            "type": "integer"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Replace an existing Part's details in the Part List.",
        "summary": "Replace an existing Part's details in the Part List.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "users"
        ],
        "x-ms-summary": "Replace an existing Part's details in the Part List."
      },
      "delete": {
        "operationId": "users_partlists_parts_delete",
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "part_num",
            "required": true,
            "in": "path",
            "description": "part num",
            "type": "string"
          },
          {
            "name": "list_id",
            "required": true,
            "in": "path",
            "description": "list id",
            "type": "string"
          },
          {
            "name": "color_id",
            "required": true,
            "in": "path",
            "description": "color id",
            "type": "string"
          },
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Delete a Part from the Part List.",
        "summary": "Delete a Part from the Part List.",
        "tags": [
          "users"
        ],
        "x-ms-summary": "Delete a Part from the Part List.",
        "x-ms-visibility": "advanced"
      }
    },
    "/users/{user_token}/parts/": {
      "get": {
        "operationId": "users_parts_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON.",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          },
          {
            "name": "part_num",
            "required": false,
            "in": "query",
            "description": "part num",
            "type": "string"
          },
          {
            "name": "part_cat_id",
            "required": false,
            "in": "query",
            "description": "part cat id",
            "type": "number"
          },
          {
            "name": "color_id",
            "required": false,
            "in": "query",
            "description": "color id",
            "type": "number"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "A search term.",
            "type": "string"
          },
          {
            "name": "inc_part_details",
            "in": "query",
            "required": false,
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Set to 1 to include extended part details."
          }
        ],
        "description": "Get a list of all the Parts in all the user's Part Lists.\n\nOptional parameter inc_part_details=1 can be used to return additional part fields, the same as for a single part lookup.\n\n###Set List logic\nParts appearing in multiple Part Lists will be listed multiple times.\n\nOptionally, filter by one or more of the below query parameters.",
        "summary": "Get a list of all the Parts in all the user's Part Lists.",
        "tags": [
          "users"
        ],
        "x-ms-summary": "Get a list of all the Parts in all the user's Part Lists."
      }
    },
    "/users/{user_token}/profile/": {
      "get": {
        "operationId": "users_profile_read",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON."
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          }
        ],
        "description": "Get details about a specific user.",
        "summary": "Get details about a specific user.",
        "tags": [
          "users"
        ],
        "x-ms-summary": "Get details about a specific user."
      }
    },
    "/users/{user_token}/setlists/": {
      "get": {
        "operationId": "users_setlists_list",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON.",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          }
        ],
        "description": "Get a list of all the user's Set Lists.",
        "summary": "Get a list of all the user's Set Lists.",
        "tags": [
          "users"
        ],
        "x-ms-summary": "Get a list of all the user's Set Lists."
      },
      "post": {
        "operationId": "users_setlists_create",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON."
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON."
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          },
          {
            "name": "is_buildable",
            "required": false,
            "in": "formData",
            "description": "is buildable",
            "type": "boolean"
          },
          {
            "name": "name",
            "required": true,
            "in": "formData",
            "description": "name",
            "type": "string"
          },
          {
            "name": "num_sets",
            "required": false,
            "in": "formData",
            "description": "num sets",
            "type": "integer"
          }
        ],
        "description": "Add a new Set List.",
        "summary": "Add a new Set List.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "users"
        ],
        "x-ms-summary": "Add a new Set List."
      }
    },
    "/users/{user_token}/setlists/{list_id}/": {
      "get": {
        "operationId": "users_setlists_read",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON."
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "list_id",
            "required": true,
            "in": "path",
            "description": "list id",
            "type": "string"
          },
          {
            "name": "user_token",
            "required": true,
            "in": "path",
            "description": "Rebrickable User Token obtained via users__token_create. This is not the API key.",
            "type": "string"
          }
        ],
        "description": "Get details about a specific Set List.",
        "summary": "Get details about a specific Set List.",
        "tags": [
          "users"
        ],
        "x-ms-summary": "Get details about a specific Set List."
      },
      "put": {
        "operationId": "users_setlists_update",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The official export does not include a response schema for this action. Process undocumented fields using the raw JSON body / Parse JSON."
            }
          },
          "default": {
            "description": "API error, for example 400, 401, 403, 404, or 429.",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "list_id",
            "required": true,
            "in": "path",
[...]
